.main_div {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
}

.hexagon {
  transform: rotate(30deg);
  position: relative;
  width: 150px;
  height: 86.60px;
  background-color: #03ff00;
  margin: 43.3px 0;
  border-left: solid 3px #333333;
  border-right: solid 3px #333333;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 106.07px;
  height: 106.07px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 18.9670px;
}

.hexagon:before {
  top: -53.0330px;
  border-top: solid 4.2426px #333333;
  border-right: solid 4.2426px #333333;
}

.hexagon:after {
  bottom: -53.0330px;
  border-bottom: solid 4.2426px #333333;
  border-left: solid 4.2426px #333333;
}
